<p class="error-text"><%= notice %></p>

<%= form_with(model: @screening, url: new_screening_path) do |form| %>
<div class="input-wrapper">
  <%= label(:screening, 'time of screening') %>
  <%= datetime_field_tag("time", nil) %>
</div>
<div class="input-wrapper">
  <%= label(:screening, 'movie') %>
  <%= select_tag("movie_id",
    options_from_collection_for_select(Movie.all, "id", "title")) %>
</div>
<div class="input-wrapper">
  <%= label(:screening, 'screen') %>
  <%= select_tag("screen_id",
    options_from_collection_for_select(Screen.all, "id", "title")) %>
</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>