<p id="notice"><%= notice %></p>

<h1>Screenings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screenings.each do |screening| %>
      <div class="movie_title_bar">
        <div class="title_wrapper">
          <h2 itemprop="name" class=""><%= screening.movie.title %>&nbsp;
            <span id="title_year">(<%= screening.movie.info.release_date.year %>)</span>
          </h2>
        </div>
        <div>
          <%= Time.at(screening.time).utc.strftime('%Y-%m-%d %Hh %Mmin') %>
        </div>
        <span><%= link_to 'Destroy', screening, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Screening', screenings_new_path %>
<%= link_to 'Back', root_path %>
